# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.pub/
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
.idea/
android/.gradle/
android/app/build/
.DS_Store
*.iml

# VS Code settings
.vscode/

# IntelliJ related
*.iws
*.ipr
*.iml
.idea/

# Android Studio generated
*.jks

# Mac and Linux hidden files
*.swp
*.swo